<div class="text-center mt-3">
  <h2>{{display}} - {{pagination.totalItems}} found</h2>
</div>

<div class="container mt-3">

    <form class="form-inline" #form="ngForm" (ngSubmit)="loadUsers()" novalidate>
        <div class="form-group">
          <label for="minAge">Age From</label>
          <input type="number" class="form-control ml-2" style="width: 60px" id="minAge"
            [(ngModel)]="userParams.minAge" name="minAge">
        </div>
      
        <div class="form-group px-2">
          <label for="maxAge">Age To</label>
          <input type="number" class="form-control ml-2" style="width: 60px" id="maxAge"
            [(ngModel)]="userParams.maxAge" name="maxAge">
        </div>
      
        <div class="form-group px-2">
          <label for="shooterType">Show: </label>
          <select #selectedShooterType class="form-control ml-2" style="width: 190px" id="shooterType"
            [(ngModel)]="userParams.shooterType" name="shooterType">
            <option *ngFor="let shooterType of shooterTypeList" [value]="shooterType.value" >
              {{shooterType.display}}
            </option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary" (click)="applyFilters(selectedShooterType.value)" style="margin-left:10px">Apply Filters</button>
        <button type="button" class="btn btn-info" (click)="resetFilters()" style="margin-left:10px">Reset Filter</button>
      
      </form>
      <br>

  <div class="row">
    <div *ngFor="let user of users" class="col-lg2 col-md-3 col-sm-6">
      <app-available-shooter-card [user]="user"></app-available-shooter-card>
    </div>
  </div>
</div>


<div class="d-flex justify-content-center">
  <pagination [boundaryLinks]="true"
              [totalItems]="pagination.totalItems"
              [itemsPerPage]="pagination.itemsPerPage"
              [(ngModel)]="pagination.currentPage"
              (pageChanged)="pageChanged($event)"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
  </pagination>
</div>