img.img-thumbnail {
    height: 100px;
    min-width: 100px !important;
    margin-bottom: 2px;
}

.nv-file-over {
    border: dotted 3px red;
}

input[type=file] {
    color: transparent;
}

img.not-approved {
    opacity: 0.3;
}

.container {
    align-items: center;
    position: relative;
}

.overlay{
    height: 100%;
    width: 100%;
    position: absolute;
}

.blah {
    position: absolute;
}