/* You can add global styles to this file, and also import other style files */
/* Import styles into here then angular.json styles uses this file
You don't import files directly into the json file because there's no control over the order */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootswatch/dist/minty/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';

.tab-panel {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
  }
  
  .nav-tabs > li.open, .available-shooter-tabset > .nav-tabs > li:hover {
    border-bottom: 4px solid #aeefde;
  }
  
  .available-shooter-tabset > .nav-tabs > li.open > a, .available-shooter-tabset > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
  }
  
  .available-shooter-tabset > .nav-tabs > li.open > a > i, .available-shooter-tabset > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
  }
  
  .available-shooter-tabset > .nav-tabs > li.open .dropdown-menu, .available-shooter-tabset > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
  }
  
  .available-shooter-tabset > .nav-tabs > li.active {
    border-bottom: 4px solid #49e5bb;
    position: relative;
  }
  
  .available-shooter-tabset > .nav-tabs > li.active > a {
    border: 0 !important;
    color: #333333;
  }
  
  .available-shooter-tabset > .nav-tabs > li.active > a > i {
    color: #404040;
  }
  
  .available-shooter-tabset > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
  }